<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eclipse</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/js/user-form/userForm.js"></script>
  </head>

  <body class="bg-gray-900 text-white">
    <main class="h-screen flex justify-evenly items-center px-4">
      <div id="title" class="hidden lg:flex justify-center">
        <h1 class="text-4xl font-bold">Eclipse</h1>
      </div>

      <div class="w-full max-w-md">
        <form
          id="profile-form"
          class="bg-gray-800 text-white shadow-md rounded px-7 py-5 mb-4"
        >
          <div class="text-center mb-5">
            <h1 class="font-bold text-xl">Eclipse</h1>
          </div>

          <div class="mb-4 flex flex-col justify-center items-center">
            <label class="text-sm font-semibold mb-4">Select an Avatar</label>
            <div
              id="selected-avatar"
              class="grid grid-cols-1 sm:grid-cols-5 gap-4 items-center justify-center mb-4 w-full"
            >
              <div
                class="sm:col-span-2 flex flex-col justify-center items-center"
              >
                <img
                  id="current-avatar-img"
                  class="w-[80%] rounded-full border"
                  src="/avatars/avatar_1.png"
                  alt="Selected avatar"
                />
                <span class="text-xs mt-2 text-gray-300">Current avatar</span>
              </div>
              <div class="sm:col-span-3 flex justify-center">
                <div
                  id="avatar-grid-wrapper"
                  class="w-[80%] grid grid-cols-4 gap-2"
                ></div>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <label class="text-sm font-semibold mb-2 block" for="username">
              Username
            </label>
            <input
              id="username"
              name="username"
              type="text"
              placeholder="Username"
              class="w-full p-2 text-sm shadow rounded-md text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div id="new-chat-field" class="mb-4 hidden">
            <label class="text-sm font-semibold mb-2 block" for="chat-name">
              Chat Name
            </label>
            <input
              id="chat-name"
              name="chatName"
              type="text"
              placeholder="Enter a name to create a chat"
              class="w-full p-2 text-sm shadow rounded-md text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div id="join-chat-field" class="mb-4 hidden">
            <label class="text-sm font-semibold mb-2 block" for="chat-id">
              Chat ID
            </label>
            <input
              id="chat-id"
              name="chatId"
              type="text"
              placeholder="Enter a chat ID to join"
              class="w-full p-2 text-sm shadow rounded-md text-gray-800 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div class="flex flex-col justify-center items-center">
            <button
              id="submit-btn"
              type="submit"
              class="bg-blue-600 hover:bg-blue-700 text-white font-bold mt-3 py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition"
            >
              Enter Room
            </button>
          </div>

          <div class="mb-2 text-center">
            <p
              id="toggle-chat-mode"
              class="text-sm text-blue-400 cursor-pointer hover:underline mt-2"
            >
              Already have a chat?
            </p>
          </div>
        </form>

        <p class="text-center text-xs text-gray-400 text-md">
          Made with SocketIO and NodeJS
        </p>
      </div>
    </main>
  </body>
</html>
